/* ตั้งค่าหน้ากระดาษ */
body {
  font-family: "Sarabun", sans-serif;
  color: #18264b;
  margin-top: 56px;
}

/* รูปโปรไฟล์ให้เป็นวงกลมและมีกรอบ */
.profile-pic {
  width: 160px;
  height: 160px;
  object-fit: cover;

  border-radius: 50%;
  border: 4px solid #1e3d70;
  box-shadow: 0 4px 10px rgba(67, 47, 14, 0.2);

}

/* ชื่อใหญ่*/
.name-title {
  font-size: 2.2rem;
  color: #212529;
}

/* ลิงค์ PIM */
.school-link {
  color: #007bff;
  text-decoration: none;
}

/* ขีดเส้นใต้เมื่อชี้ */
.school-link:hover {
  text-decoration: underline;
  color: #0056b3;
}

/* เส้นแบ่งแนวตั้ง */
.vertical-line {
  border-right: 2px solid #1e252d;
  padding-right: 20px;
}

/* ใส่พื้นหลัง */
#section1 {
    background-color: #c9d6e2; 
    padding-top: 40px;
    margin-top: 0 !important;
}

/* เลื่อนหน้าอย่างนุ่มนวล */
html {
  scroll-behavior: smooth;
}

/*  ปรับ Navbar */
.navbar {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/*  เมื่อชี้ Navbar */
.nav-item:hover {
  background-color: #08233a58;
}

/*  สีพื้นหลัง Navbar */
#mainNavbar {
  background-color: #4584f0;
}

#navbarNav .nav-link {
  color: #f2f2f2;
}

/* ข้อความลิงค์ */
li a {
  color: #73a2d5;
  text-decoration: none;
}
li a:hover {
  text-decoration: underline;
  color: #4a90e2;
}